.heroSection {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('../Images/car.jpg');
    background-size: cover;
    background-position: center;
  }
 
  .heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  .heroOverlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 450px solid transparent; /* Измените ширину и цвет границы, если нужно */
    border-top: 450px solid white; 
    transform: rotate(90deg);
  }
  
  .heroContent {
    margin-top: 14px;
    color: white;
    font-size: 40px;
    text-align: center;
  }
  .heroContentForma {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    z-index: 1;
    border: 5px solid #9dc3e6;
    border-radius: 10px;
    padding: 10px;
  }
  .heroContentForma:hover,
  .heroContentForma:focus{
    border: 5px solid  #007bff; 
  }
  .forma{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .buttonSend {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-color: transparent ;
    background-color: rgba(0, 50, 255, 0.5); /* Обычный голубой цвет */
  transition: background-color 0.3s ease; 
  }
  .buttonSend:hover,
.buttonSend:focus {
  background-color: rgba(0, 50, 255, 0.8); /* Более яркий голубой цвет */
}
.formInput {
  padding: 8px 12px; /* Увеличение высоты инпутов */
  border: 2px solid #007bff; /* Голубой цвет рамки */
  transition: border-color 0.3s ease; /* Плавное изменение цвета рамки */
  outline: none;
}
.formInput:hover,
.formInput:focus {
  border-color: #0056b3; /* Синий цвет при наведении или фокусе */
}
.rentaYellow{
  color: yellow;
}


.steeringWheel {
  background-image: url(../../components/Images/rul.png);
  background-size: cover;
  width: 70px;
  height: 70px;
  margin-right: 30px; 
  position: absolute;
  right: 10px;
  top: 300px;
  z-index: 1;
}
.putMe{
  display: flex;
  flex-direction: column; 
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  right: -12px;
  align-items: center;
  color: blue;
}
.signal {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #800000;
  position: absolute;
  top: 40%;
  left: 36%;
  transform: translate(-50%, -50%);
  border: 1px solid wheat;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  animation: pulse 1s infinite alternate, brighten 1s infinite alternate;
}
 /* Описание анимации */
 @keyframes pulse {
  from {
    transform: scale(1); /* Начальный размер */
  }
  to {
    transform: scale(1.1); /* Конечный размер */
  }
}
@keyframes brighten {
  from {
    filter: brightness(1); /* Начальная яркость (обычный цвет) */
  }
  to {
    filter: brightness(1.5); /* Конечная яркость (ярче) */
  }
}