.heroSection {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('../Images/car-optim.jpg');
    background-size: cover;
    background-position: center;
  }
 
  .heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  
  .heroTitle {
    margin-top: 14px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  
.rentaYellow{
  color: yellow;
}

@media screen and (min-width: 1240px)  {
  
  .heroTitle {
    font-size: 40px;
  }
  
  .heroOverlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 450px solid transparent; 
    border-top: 450px solid white; 
    transform: rotate(90deg);
  }
}