.heroSection {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('../Images/car.jpg');
    background-size: cover;
    background-position: center;
  }
 
  .heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  
  .heroTitle {
    margin-top: 14px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  

.rentaYellow{
  color: yellow;
}
/* .putMe{
  display: none;
}
.signal{
  display: none;
} */
@media screen and (min-width: 1240px)  {
  
  .heroTitle {
    font-size: 40px;
  }
  
  
  .heroOverlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 450px solid transparent; 
    border-top: 450px solid white; 
    transform: rotate(90deg);
  }
/* 
.steeringWheel {
  background-image: url(../../components/Images/rul.png);
  background-size: cover;
  width: 70px;
  height: 70px;
  margin-right: 30px; 
  position: absolute;
  right: 10px;
  top: 300px;
  z-index: 1;
}
.putMe{
  display: flex;
  flex-direction: column; 
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  right: -12px;
  align-items: center;
  color: blue;
}
.signal {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #800000;
  position: absolute;
  top: 40%;
  left: 36%;
  transform: translate(-50%, -50%);
  border: 1px solid wheat;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  animation: pulse 1s infinite alternate, brighten 1s infinite alternate;
}
 
 @keyframes pulse {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(1.1); 
  }
}
@keyframes brighten {
  from {
    filter: brightness(1); 
  }
  to {
    filter: brightness(1.5); 
  }
} */
}