.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 25px 15px;  
}
.indentedParagraph {
    text-indent: 20px; 
}
@media screen and (max-width:  765px) {
.wrapperAbout {
    display: flex;
    flex-direction: column;
   gap: 20px;
}
.indentedParagraph {
    font-size: 15px; 
}
}
@media screen and (min-width: 766px){
    .photo {
        width: 50%; 
    }
    .about {
        width: 50%;
        word-wrap: break-word; 
    }
    .wrapperAbout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
}
@media screen and (min-width: 766px) and (max-width: 1000px) {
    .wrapperAbout {
       gap: 15px;
    }
    .indentedParagraph {
        font-size: 15px; 
    }
    
}
@media screen and (min-width: 1001px) and (max-width: 1239px) {
    .wrapperAbout {
        gap: 23px;
     }
    .indentedParagraph {
        font-size: 20px; 
    }
}

@media screen and (min-width: 1240px)  {
    .wrapperAbout {
        gap: 26px;
     }
    .indentedParagraph {
        font-size: 25px;
    }
}
