
.imageGrid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; /* Убираем внешние отступы для создания компактного макета */
  justify-content: center; /* Центрируем содержимое по горизонтали */
align-items: center; 
  }
  .noImg{
    margin-bottom: 20px;
    color: blueviolet;
    font-size: 20px;
  }