.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 25px 15px;
}
.wrapperContacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

}
.contacts {
  border: 1px solid white;
  padding: 20px;
}
.photo,
.contacts {
  width: 50%;
  box-sizing: border-box; /* Учитываем padding в ширине блока */
 
}

.map {
  width: 100%;
}

/* Медиа-запросы для разных ширин экрана */

/* От 960px и выше */
@media (min-width: 999px) {
  .photo,
  .map {
    width: 32%;
  }

  .contacts {
    width: 32%;
    /* border: 1px solid white;
    padding: 20px; */
  }
}

/* От 766px до 959px */
@media (min-width: 766px) and (max-width: 1000px) {
  .photo,
  .contacts {
    width: 48%;
  }

  .map {
    width: 100%;
  }
}

/* До 765px */
@media (max-width: 765px) {
  .photo,
  .map,
  .contacts {
    width: 100%;
  }
}
.indentedParagraph{
    text-indent: 36px;   
} 
  .spanBlock{
    display: block;
  }
  .spanBlockA{
    display: block;
    margin-bottom: 10px;
    margin-left: 2px;
  }
  .spanBlockB {
    display: block;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .spanBlock:not(:last-child) {
    margin-bottom: 10px;
  }
  .blockSvg {
    display: block;
  }
  .wrapperClock {
    display: inline-flex;
    align-items: center; 
  }
  .fas {
    margin-right: 15px;
  } 
  .fasA {
    margin-right: 20px;
  } 
  .linkPhone:hover,
  .linkPhone:focus {
  color: red;
}

