.formSearch select{
    height: 40px;
  }
@media screen and (max-width: 643px){
  
  .formSearch {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; 
}
}
@media screen and (min-width: 644px)and (max-width: 1239px) {
.formSearch {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    display: flex;
    justify-content: center; /* Центрируем элементы по горизонтали */
  }
}
  @media screen and (min-width: 1240px)  {
    .formSearch {
      display: flex;
       margin-left: auto;
  margin-right: auto;
      width: 75%;
    }
  }
  .formSearch select,
  .formSearch input[type="text"] {
    width: 70%; /* Ширина инпутов и селектов */
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .formSearch button {
    width: 30%; /* Ширина кнопок */
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .formSearch select:focus,
  .formSearch input[type="text"]:focus,
  .formSearch button:focus {
    border-color: purple;
  }
  
  .formSearch button[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formSearch button[type="submit"]:hover {
    background-color: #6a0dad;
  }
  
  .formSearch button[type="button"] {
    background-color: #ccc;
    color: black;
  }
  
  .formSearch button[type="button"]:hover {
    background-color: #999;
  }