 /* .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.1);
  z-index: 9998; 
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
 } 
 
 .modalContent {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  z-index: 10000; 
  max-width: 100%; 
  overflow-y: auto; 
   
}  */
.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  display: flex;
  background-color: #B38DF9;
}


.hystmodalWrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

}

.modalContent {
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  padding: 40px;
  max-width: 200vh;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  position: relative;
  border-radius: 10px;
  
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid #ccc; /* Серый цвет ободка */
  border-radius: 50%; /* Сделать кнопку круглой */
  color: #ccc; /* Серый цвет текста и символа крестика */
  cursor: pointer;
  font-size: 20px; /* Размер символа крестика */
  padding: 0; /* Убрать отступы вокруг текста */
  width: 30px; /* Ширина кнопки */
  height: 30px; /* Высота кнопки */
  display: flex; /* Сделать содержимое центрированным */
  justify-content: center; /* Горизонтальное центрирование содержимого */
  align-items: center; /* Вертикальное центрирование содержимого */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.closeButton::after {
  content: '✖'; 
}

.closeButton:hover,
.closeButton:focus {
  background-color: #f0f0f0; /* Изменение цвета фона при наведении */
  border-color: #999; /* Изменение цвета ободка при наведении */
  color: #999; /* Изменение цвета текста и символа крестика при наведении */
}
.colorBlue {
  color: blue;
}
.imageCar {
  margin-bottom: 10px;
 width: 100%; 
  
  height: auto;
}

.titleContent{
font-weight: 500;
font-size: 17px;
margin-bottom: 15px;
}
.wrapperGraySmallContent{
display: flex;
flex-direction: column;
gap: 5px;
margin-bottom: 15px;
}
.graySmallContent {
  color: #999;
  font-size: 13px;
  
  
}

.descriptionCarContent {
  font-size: 14px;
  margin-bottom: 20px;
}

.allDescriptionCarContent {
  max-width: 85%;
}
.subtitle{
  font-weight: 500;
font-size: 16px;
margin-bottom: 10px;
}
.rentalConditions {
  border-radius: 25px;
  background: rgba(128, 128, 128, 0.1);
  padding: 10px 15px;
  display: inline-block; 
  font-size: 14px;
  color: #999;
}
.mainWrapperRentalConditions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.wrapperRentalConditions {
  display: flex;
  gap: 10px;
}
.buttonCall {
  font-size: 16px;
  padding: 10px 40px;
  color: white;
  border-radius: 10px;
  border-color: transparent ;
  background-color: rgba(0, 50, 255, 0.5); 
transition: background-color 0.3s ease; 
}
.buttonCall:hover,
.buttonCall:focus {
background-color: rgba(0, 50, 255, 0.8); 
}