.container{
    padding: 30px 0;
    
}
.sectionTitle {
    margin-bottom: 30px ;
    font-size: 35px;
    text-align: center;
    color: blueviolet;
    font-family: "Trirong", serif;
  font-weight: 300;
  font-style: normal;
}
.sectionList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; 
    justify-content: center; 
  align-items: center; 
  gap: 45px;
} 
