
.header {
    background: linear-gradient(45deg, rgba(24,187,156,1),rgba( 100, 149, 237, 1 ),rgba( 255, 127, 80, 1 ) );
    width: 100%;
    height: 5rem;
    display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
  
}

.wraperContactIcons{
  display: none;
}
.wraperRightHeader{
  display: flex;
  gap: 10px;
 margin-left: auto;
}
.menu{
  border-radius: 5px;
  border: none;
  padding: 15px 10px;
  color: white;
  background-color: rgba(0, 50, 255, 0.5); /* Обычный голубой цвет */
  transition: background-color 0.3s ease; 
  }
  .menu:hover,
  .menu:focus {
  background-color: rgba(0, 50, 255, 0.8); /* Более яркий голубой цвет */
}
@media screen and (min-width: 766px)  {
  .menu{
    display: none;
  }
}
@media screen and (min-width: 902px)  {
  .wraperContactIcons{
    display:  flex;
  }
  .wraperRightHeader{
    display: flex;
    gap: 5px;
   margin-left: auto;
  }
}
 
  