.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid #ccc; /* Серый цвет ободка */
    border-radius: 50%; /* Сделать кнопку круглой */
    color: #ccc; /* Серый цвет текста и символа крестика */
    cursor: pointer;
    font-size: 20px; /* Размер символа крестика */
    padding: 0; /* Убрать отступы вокруг текста */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    display: flex; /* Сделать содержимое центрированным */
    justify-content: center; /* Горизонтальное центрирование содержимого */
    align-items: center; /* Вертикальное центрирование содержимого */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Плавное изменение цвета при наведении */
  }
  
  .closeButton::after {
    content: '✖'; /* Устанавливаем символ крестика */
  }
  .closeButton:hover,
  .closeButton:focus {
    background-color: #f0f0f0; /* Изменение цвета фона при наведении */
    border-color: #999; /* Изменение цвета ободка при наведении */
    color: #999; /* Изменение цвета текста и символа крестика при наведении */
  }
  .menuItems {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .menuLink {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
  }
  @media screen and (min-width: 766px)  {
    .modal{
      display: none;
    }
    .modalBackdrop {
        display: none;
    }
    .menuLink {
        display: none;
    }
    
     .closeButton {
         display: none;
    }
  }